---
layout: default
ref: home
---
<div id="custom-banner" class="mb-4">
  {{ content }}
</div>

<div id="post-list" class="flex-grow-1 pe-xl-2">
  {% for post in paginator.posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}
          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}
          {% assign lqip = post.image.lqip %}
          <div class="col-md-5">
            <img
              src="{{ src }}"
              alt="{{ alt }}"
              {% if lqip %}
                w="100%" h="100%" data-lqip="true"
              {% endif %}
            >
          </div>
        {% endif %}

        <div class="col-md-{% if post.image %}7{% else %}12{% endif %}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <i class="far fa-calendar fa-fw me-1"></i>
                <span data-ts="{{ post.date | date: '%s' }}" data-df="ll">
                  {{ post.date | date: '%Y-%m-%d' }}
                </span>

                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>Pinned</span>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  <nav aria-label="Page Navigation" class="mt-4">
    <ul class="pagination align-items-center justify-content-center mb-0">
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
            <i class="fas fa-angle-left"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="Previous">
            <i class="fas fa-angle-left"></i>
          </span>
        </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link"> {{ paginator.page }} / {{ paginator.total_pages }} </span>
      </li>

      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
            <i class="fas fa-angle-right"></i>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-label="Next">
            <i class="fas fa-angle-right"></i>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
